#mundipagg-payment-methods input[type="radio"] {
	display: inline;
	vertical-align: middle;
}

#mundipagg-payment-methods #mundipagg-ticket-cart-type {
	margin-left: 20px;
}

#mundipagg-cc-form input[type="text"],
#mundipagg-cc-form select {
	font-size: 1.5em;
	padding: 8px;
}

#mundipagg-cc-form select {
	width: 98%;
}
